<h3>Edit <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :prenom %><br />
    <%= f.text_field :prenom %>
  </div>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <i>(Retaper votre mot de passe pour confirmer votre identité)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(Laisser ce champs vide si vous ne souhaitez pas modifier votre mot de passe.)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Mise à jour", :class => 'btn btn-default'%>
  </div>
<% end %>

<div><h3>Supprimer mon compte</h3></div>

<div><i>Vous souhaitez vous désinscrire ? Cliquez simplement sur le bouton ci-dessous.</i><%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Êtes-vous sur(e) ?" }, method: :delete, :class => 'btn btn-default' %></div></br>

<div><%= link_to "Retour", :back, :class => 'btn btn-default' %></div>
