<p id="notice"><%= notice %></p>

<h1>Listing Annonces</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Typep roduit</th>
      <th>Prix mini</th>
      <th>Prix maxi</th>
      <th>Region</th>
      <th>Code postal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annonces.each do |annonce| %>
      <tr>
        <td><%= annonce.titre %></td>
        <td><%= annonce.typeProduit %></td>
        <td><%= annonce.prixMini %></td>
        <td><%= annonce.prixMaxi %></td>
        <td><%= annonce.region %></td>
        <td><%= annonce.codePostal %></td>
        <td><%= link_to 'Show', annonce %></td>
        <td><%= link_to 'Edit', edit_annonce_path(annonce) %></td>
        <td><%= link_to 'Destroy', annonce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annonce', new_annonce_path %>
