<!DOCTYPE html>
<html>
<head>
  <title>LanglePasTropMal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
  <div zclass="col-md-8 col-md-offset-2">
     <div class="text-center">
       <h2>L'angle Pas Trop Mal<small> par Baptiste Lanusse & Jérémie Lecornu</small></h2>
        <div class="row">
          
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <% if flash[:error] %>
            <p class="alert alert-danger"><%= flash[:error] %></p>
          <% end %>
        </div>
        <div>
          <% if user_signed_in? %>
            Bienvenue <strong><%= current_user.prenom %></strong>.
            <button class="btn btn-default"><%= link_to 'Editer profil', edit_user_registration_path, :class => 'navbar-link' %></button>
            <button class="btn btn-default"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></button>
          <% else %>
            <div>Veuillez vous identifier ou créer un compte pour accéder aux fonctionnalités du site.</div>
            <div>
            <button class="btn btn-default"><%= link_to "Créer compte", new_user_registration_path, :class => 'navbar-link'  %></button>
            <button class="btn btn-default"><%= link_to "Se connecter", new_user_session_path, :class => 'navbar-link'  %></button>
            </div>
          <% end %>

        </div>
    </div>
    
  </div>
  </div>
  <div class="row">
    <div class="text-muted">
      <div class="text-left">    
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
